<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AgroTech Monitor - Gestão de Frota</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>AgroTech Monitor</h1>
      <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">Painel de Frota</a></li>
          <li><a href="{{ url_for('relatorio') }}">Relatórios</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="frota">
        <h2>Monitoramento de Frota John Deere</h2>

        <div style="margin-bottom: 20px">
          <input
            type="text"
            id="filtroInput"
            onkeyup="filtrarTabela()"
            placeholder="🔍 Digite o modelo ou Nº da frota para buscar..."
            style="
              width: 100%;
              padding: 12px;
              border-radius: 8px;
              border: 1px solid #367c2b;
              box-sizing: border-box; /* ISSO IMPEDE O INPUT DE ULTRAPASSAR */
            "
          />
        </div>
        <div class="form-container">
          <h3>Cadastrar Nova Máquina</h3>
          <form action="/cadastrar" method="POST">
            <input
              type="text"
              name="modelo"
              placeholder="Modelo (ex: S700)"
              required
            />
            <input
              type="text"
              name="numero_frota"
              placeholder="Nº da Frota (ex: 40024)"
              required
            />
            <input
              type="number"
              name="horas"
              placeholder="Horas de Uso"
              required
            />
            <button type="submit" class="btn-cadastrar">
              Adicionar à Frota
            </button>
          </form>
        </div>

        <table id="tabelaMaquinas">
          <thead>
            <tr>
              <th>Equipamento</th>
              <th>Nº da Frota</th>
              <th>Horas</th>
              <th>Status</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for m in maquinas %}
            <tr>
              <td>{{ m.modelo }}</td>
              <td>{{ m.numero_frota }}</td>
              <td>{{ m.horas }}h</td>
              <td>
                <span
                  class="{% if m.status == 'Operacional' %}status-operacional{% else %}status-alerta{% endif %}"
                >
                  {{ m.status }}
                </span>
              </td>
              <td>
                <a href="/editar/{{ loop.index0 }}" class="btn-editar"
                  >Editar</a
                >
                <a
                  href="/excluir/{{ loop.index0 }}"
                  class="btn-excluir"
                  onclick="return confirm('Tem certeza?');"
                  >Excluir</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
